*{
    box-sizing: border-box;
}
:root {
    --baby-pink: #fcc9c6ff;
    --spanish-pink: #f7b7b6ff;
    --light-cyan: #c7e8e3ff;
    --white: #ffffff;
    --dark-blue: #474e5d;
    --dark-grey: #555555;
    --black: #000000;
}

.feed-container {
    background-color: var(--spanish-pink);
    color: white;
    display: table;
    flex-grow: 1;

}

.feed-data {
    background-color: var(--dark-grey);
    justify-content: space-evenly;
    text-transform: capitalize;    /* Första Bokstaven i varje ord blir stort, använd? */

}

.feed-extended-data {
    /*display: none;*/

}

.feed-item-header {
    /*display: none;*/
}

.feed-extended-header {
    /*display: none;*/
}


body{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: var(--dark-grey);

  }
  
  
p{
    font-size: 16px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--black);
    height: 150px;

  }

.createTrip {
    border: 1px solid black;
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    background: grey;
}

.header h2{
    margin: 0;
    padding: 20px;
}

.form{
    width: 100%;
    padding: 20px;
}

.field-control {
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.field-control label {
    display: inline-block;
}

.field-control input {
    display: block;
}
.field-control textarea{
    display: block;
    resize: none;
}

.field-control.success input {
    
    outline: green solid 2px;
}

.field-control.error input {
    outline: red solid 2px;
}

.field-control small {
    visibility: hidden;
}

.field-control.error small{
    visibility: visible;
    color: red;
}
#isAllergic{
    outline: none;
}
#allergiesText {
    visibility: hidden;
}

/* #noteToPassenger {
    height: 50px;
} */