
  :root{
    --baby-pink: #fcc9c6ff;
    --spanish-pink: #f7b7b6ff;
    --light-cyan: #c7e8e3ff;
    --white: #ffffff;
    --dark-blue: #474e5d;
    --dark-grey: #555555;
    --black: #000000;
    
    } 

    label{
        color: var(--dark-grey);
    }

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--black);
    height: 150px;

  }

  .navbar-nav  li a:hover {
    color: var(--spanish-pink) !important;
  }



.createTrip {
    border-radius: 8px;
    background-color: var(--spanish-pink);
    width: 400px;
  
    padding: 20px;
    align-content: center;
}


.bg-2 { 
    background-color: var(--white);
    color: var(--white);
    padding: 50px;
  }

/* .form{

    color: var(--dark-grey);
}

.form-control {
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.form-control label {
    display: inline-block;
}

.form-control input {
    display: block;
}

.form-control textarea{
    display: block;
    resize: none;
}

.form-control.success input {
    
    outline: green solid 2px;
}

.form-control.error input {
    outline: red solid 2px;
}

.form-control small {
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color: red;
}
#isAllergic{
    outline: none;

}
#allergiesText {
    visibility: hidden;
} */

.logoIndex {
    position: relative;
    text-align: center;
    color: var(--white);
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }

  .margin {
    margin-bottom: 45px;
    color: var(--dark-grey);

}

.bg-4 { 
    background-color: var(--light-cyan); 
    color: var(--white);
    height: auto;
    padding: 20px;
  }
/* #noteToPassenger {
    height: 50px;
} */