
/*Style-sheet for index2.html*/

:root {
    --spanish-pink: #f7b7b6ff;
    --light-cyan: #c7e8e3ff;
    --white: #ffffff;
    --dark-blue: #474e5d;
    --dark-grey: #555555;
    --black: #000000;
}

body{
    font: 20px Montserrat, sans-serif;
    color: var(--dark-grey);
    background-color: var(--white);

  }

  h2{
    color: var(--dark-grey);
  }

  

/*Navbar*/

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
    color: var(--black);
    height: 150px;
    background-color: var(--white);
  }

  .navbar-nav  li a:hover {
    color: var(--spanish-pink) !important;
  }

/*Feed*/
#createTripMain {
    display: none;
}

.btn {
    background-color: var(--white);
}

.btn:hover {
    background-color: var(--spanish-pink);
}

.feed-extended-data {
    display: none;
}

.feed-extended-data-expanded {
    background-color: var(--light-cyan);
    color: var(--dark-grey);
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    text-transform: capitalize;

}

.feed-extended-header-data {
    flex-grow: 4;
    text-align: left;
    max-width: 18%;
}

.feed-item-header {
    /*display: none;*/
}

.feed-extended-header {
    display: none;
}

.feed-container {
    background-color: var(--white);
    color: white;
    flex-grow: 1;
}

/*Create trip*/

#form{
    width: 100%;
    padding: 20px;
}

#startLocation, #endLocation, #dateTime, #numberOfAvailableSeats, #price, #allergiesText, #noteToPassenger{
    border-radius: 10px;
    opacity: 70%;
    border: none;
    padding: 5px
}

#noteToPassenger {
    resize: none;
}

.form-control {

    padding-bottom: 20px;
    background-color: var(--light-cyan);
    border: none;
    display: block;
}

.form-control.success input {
    
    outline: green solid 2px;
}

.form-control.error input {
    outline: red solid 2px;
}

.form-control small {
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color: red;
}

  
  label{
    margin-top: 10px;
    display: block;
    color: var(--dark-grey);

  }


  button#submit{
    margin: 15px;
    color: var(--dark-blue);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }

  button#submit:hover {
    background-color: var(--white);
  }

  /*Feed search*/

.btn-outline-success{
    color: var(--dark-grey);
    background-color: var(--spanish-pink);
    border: none;
}

.btn-outline-success:hover{
    background-color: var(--light-cyan);
    color: var(--dark-grey);
}


.me-2{
    background-color: var(--light-cyan);
    opacity: 70%;
}

.me-2:hover{
background-color: var(--spanish-pink);

}

/*Containers*/

.bg-2 { 
    background-color: var(--light-cyan);
    color: var(--white);
    padding: 50px;
  }

  .bg-3 { 
    background-color: var(--white); 
    color: var(--dark-grey);
    padding: 50px;

 
  }

  .bg-4 { 
    background-color: var(--light-cyan); 
    color: var(--dark-grey);
    padding: 50px;

  }

  .bg-5 {
    background-color: var(--white);
    color: var(--dark-grey);
    height: auto;
    padding: 20px;
    font-size: 16px;

  }



.userBar {
      background-color: var(--spanish-pink);
      border-radius: 5px;
      padding: 15px 5px 0px 12px;

  }
.userBar:hover {
    background-color: var(--light-cyan);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.feed-data {
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    text-transform: capitalize;

}

.feed-data:hover {
    background-color: var(--spanish-pink);
    transition: all 300ms ease-in-out;
}

.feed-header {
    flex-grow: 5;
    text-align: left;
    max-width: 22%;
}

.feed-item-header {
    display: none;
}

.feed-extended-data {

}

.listExpand {
    background-color: var(--white);
    color: var(--dark-grey);
    outline: none;
    border: none;
    border-radius: 5px;

}
.listExpand:hover {
    background-color: var(--spanish-pink);
    color: var(--white);
    transition: all 300ms ease-in-out;

}

.bookSeat {
    background-color: var(--light-cyan);
    color: var(--dark-grey);
    outline: none;
    border: none;
    border-radius: 5px;

}
.bookSeat:hover {
    background-color: var(--spanish-pink);
    color: var(--white);
    transition: all 300ms ease-in-out;

}

/* MEDIA PROPERTIES FOR HANDLING OF MOBILE DEVICES! */

@media only screen and (max-width: 840px)   {
    .feed-data {
        background-color: var(--spanish-pink);
        color: var(--dark-grey);
        display: inline-block;
        border-radius: 5px;
        /*justify-content: space-evenly;*/
        text-transform: capitalize;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        border-bottom: solid 1px var(--dark-grey);

    }

    .feed-header {
        flex-grow: 1;
        text-align: center;
        /*max-width: 22%;*/
    }

    .feed-extended-data-expanded {
        background-color: var(--light-cyan);
        color: var(--dark-grey);
        display: inline-block;
        border-radius: 5px;
        /*justify-content: space-evenly;*/
        text-transform: capitalize;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        border-bottom: solid 1px var(--dark-grey);

    }

    .feed-extended-header-data {
        flex-grow: 1;
        text-align: center;
        max-width: 18%;
    }
    .bookSeat {
        background-color: var(--spanish-pink);
        color: var(--dark-grey);
        outline: none;
        border: none;
        border-radius: 5px;

    }


}