:root {
    --baby-pink: #fcc9c6ff;
    --spanish-pink: #f7b7b6ff;
    --light-cyan: #c7e8e3ff;
    --white: #ffffff;
    --dark-blue: #474e5d;
    --dark-grey: #555555;
    --black: #000000;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}


.margin {
    margin-bottom: 45px;
}

.feed-container {
    background-color: var(--spanish-pink);
    color: white;
    display: table;
    flex-grow: 1;
    /*hidden: true;*/
}

.feed-data {
    background-color: var(--dark-grey);
    justify-content: space-evenly;

}

.bg-1 {
    background-image: url("/img/backgroundCar.png");
    background-size: cover;
    height: auto;
    width: 100%;
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;

}

.bg-4 {
    background-color: #c7e8e3ff; /* Black Gray */
    color: #fff;
    height: 70px;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: black;
    height: 150px;


}

.navbar-nav li a:hover {
    color: #f7b7b6ff !important;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.bg-1 {

    background-size: cover;
    height: auto;
    width: 100%;
    color: var(--white);

}

.bg-2 {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 50px;
    height: 100vh;    /* TEESTARRR FÖRLÅT */
}

.bg-3 {
    background-color: var(--white);
    color: var(--dark-grey);
    padding: 50px;

}

.bg-4 {
    background-color: var(--light-cyan);
    color: var(--white);
    height: auto;
    padding: 20px;
}


.bg-5 {
    background-color: var(--white);
    color: var(--dark-grey);
    height: auto;
    padding: 20px;
}

.margin {
    margin-bottom: 45px;
}