:root{
--baby-pink: #fcc9c6ff;
--spanish-pink: #f7b7b6ff;
--tuscany: #c4a39eff;
--light-cyan: #c7e8e3ff;

}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  
  p {
    font-size: 16px;}
 
 
  .margin {margin-bottom: 45px;}


  .bg-1 { 
    background-image: url("/img/backgroundCar.png");
    background-size: cover;
    height:auto;
    width: 100%;
    color: #ffffff;
  }

  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
 
  }

  .bg-4 { 
    background-color: #c7e8e3ff; /* Black Gray */
    color: #fff;
    height: 70px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: black;
    height: 150px;

  }

  .navbar-nav  li a:hover {
    color: #f7b7b6ff !important;
  }

